
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: #230E3D;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    /* Image */
    width: 1500px;
    height: 760px;
    border: 2px solid red;
    margin: 0 auto;
}
.nav-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    margin-left: 200px;
    margin-top: 30px;
}
.nav-logo{
    font-family: Inter;
    font-style: Extra Bold;
    font-size: 30px;
    font-weight: 800;
}
.nav-content{
    display: flex;
    gap: 32px;
    margin-top: 10px;
    font-family: Inter;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: #FFFFFF;

    
}

.subscribe{
    margin-left: 150px;
}
.btn-subscribe{
    background-color: #FB09B4;
    color: #FFFFFF;
    border: none;

    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 8px;
    border-radius: 30px;

}