
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    /* background-color: #230E3D; */
    background-color: #15032e;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1440px;
    height: 760px;
    /* border: 2px solid red; */
    margin-bottom: 120px;
    margin: 0 auto;
}
.nav-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    margin-left: 200px;
    margin-top: 30px;
}
.nav-logo{
    font-family: Inter;
    font-style: Extra Bold;
    font-size: 30px;
    font-weight: 800;
}
.nav-content{
    display: flex;
    gap: 32px;
    margin-top: 10px;
    font-family: Inter;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: #FFFFFF;

    
}

.subscribe{
    margin-left: 150px;
}
.btn-subscribe{
     background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)));
    color: #FFFFFF;
    border: none;

    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 8px;
    border-radius: 30px;

}
/* header */
.header-container{
    margin-top: 20px;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     max-width: 1440px;
    min-height: 652px;
}
.banner-mdl-img{
    margin-left: 550px;
    margin-top: 50px;
}
.banner-mic{
    margin-left: 670px;
    margin-top: -500px;
}

.banner-content{
    display: grid;
    justify-content: center;
    margin-top: 20px;
    /* margin-left: 100px; */
}

.tech-wave-h{
    color: #FFFFFF;
    font-family: Inter;
    font-style: Extra Bold;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}
.tech-wave-p{
    color: #FFFFFF;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-btn{
    display: flex;
    gap: 5px;
    margin-left: 140px;
}
   
.btn-1{
     color: #FFFFFF;
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)));
    padding: 10px;
    border-radius: 30px;
    border: none;
}
.btn-2{
    color: #00FF88;
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid green;

}

/* About the Podcast start */
.podcast-container{
    /* border: 2px solid red; */
    margin: 0 auto;
    max-width: 1440px;
    text-align: center;
    margin-bottom: 200px;

}

.podcast-h{
    color: #FFFFFF;
    font-family: Inter;
    margin-top: 50px;
    margin-bottom: 16px;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;


text-align: center;
text-transform: capitalize;

}
.podcast-p{
    color: #FFFFFF;
    opacity: 0.8;
    font-family: Inter;
    margin-bottom: 100px;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;

}

.hrr{
    border: 1px solid #FFFFFF;
    opacity: 0.1;
    margin-bottom: 50px;
}

.podcast-number{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    margin-left: 100px;
}
.podcast-content{
    color: #00FF88;
    font-family: Inter;
    font-style: Black;
    font-size: 48px;
    font-weight: 900;
}
.podcast-content-p{
    color: #FFFFFF;
    opacity: 0.8;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 120px;
}
/* About the Podcast end */

/* footer */
.footer-container{
    background-image: url(../assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     max-width: 1440px;
    min-height: 412px;
    margin: 0 auto;
    margin-bottom: 100px;
    /* align-items: center; */
}


.footer-bg{
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    
    /* justify-items: center; */
}
.footer-icon{
    display: flex;
    gap: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-content{
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    
 
}

.footer-p{
    color: #FFFFFF;
    opacity: 0.6;
    font-family: Inter;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;

}

.footer-last{
    text-align: center;
    margin-top: 30px;
     color: #FFFFFF;
    opacity: 0.6;
    font-family: Inter;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
}
